[submodule "reference/quickshell"]
	path = reference/quickshell
	url = https://github.com/quickshell-mirror/quickshell
[submodule "reference/DankMaterialShell"]
	path = reference/DankMaterialShell
	url = https://github.com/AvengeMedia/DankMaterialShell
